##CSE-221710313011-D.Manasa

##Q-1: https://www.codechef.com/problems/RECNDSTR

##Chef has a string S consisting of lowercase English characters. Chef defined functions left shift L(X) and right shift R(X) as follows.
L(X) is defined as shifting all characters of string X one step towards left and moving the first character to the end.
R(X) is defined as shifting all characters of string X one step towards the right and moving the last character to the beginning.
For example, L("abcd") = "bcda" and R("abcd") = "dabc"
Chef wants to find out whether there exists a string V of the same length as S such that both L(V)=S and R(V)=S holds.

In [1]:
# SOLUTION-1:
def L(x):
    return x[1:]+x[0]
def R(x):
    return x[-1]+x[0:-1]
n=int(input())
list1 = [input() for i in range(n)]
for x in list1:
    if L(x) == R(x):
        print("YES")
    else:
        print("NO")

4
aa
ab
abc
aaaa
YES
YES
NO
YES

##Q-2: https://www.hackerrank.com/challenges/beautiful-days-at-the-movies/problem

##Lily likes to play games with integers. She has created a new game where she determines the difference between a number and its reverse. For instance, given the number 12 , its reverse is 21 . Their difference is 9 . The number 120 reversed is 210, and their difference is 99.  
She decides to apply her game to decision making. She will look at a numbered range of days and will only go to a movie on a beautiful day.  
Given a range of numbered days, [i...j] and a number K, determine the number of days in the range that are beautiful. Beautiful numbers are defined as numbers where |i-reverse(i)| is evenly divisible by K. If a day's value is a beautiful number, it is a beautiful day. Print the number of beautiful days in the range.

In [3]:
#SOLUTION-2:
i,j,k=map(int,input().split())
c=0
for n in range(i,j+1):
    if((n-int(str(n)[::-1]))%2==0):
        c+=1
print(c)

20 23 6
2

##Q-3: https://www.hackerrank.com/challenges/birthday-cake-candles/problem

##You are in charge of the cake for your niece's birthday and have decided the cake will have one candle for each year of her total age. When she blows out the candles, she’ll only be able to blow out the tallest ones. Your task is to find out how many candles she can successfully blow out.
##For example, if your niece is turning 4 years old, and the cake will have 4 candles of height 4 ,4 ,1 ,3 , she will be able to blow out 2 candles successfully, since the tallest candles are of height 4 and there are 2 such candles.

In [5]:
#SOLUTION-3:
N=int(input())
V=list(map(int,input().split()))
print(V.count(max(V)))

4
3 2 1 3
2

##Q-4(infy TQ): Consider a non-empty array inarr containing non-zero positive single digit integers separated by “,” (comma).Print a string based on the below logic:  
* From all possible unique three digit number combinations with the elements of inarr  
* Identify the maximum number maxnum among the three digit combinations formed.  
* Print the maxnum followed by the total number of unique digit combinations formed,separating them with a “,” (comma) ### Assumption: inarr will contain at least 3 elements #### Note : An element present at a particular index should not be considered more than once while forming a combination.

In [6]:
#solution-4:
import itertools as it
a=list(map(str,input().split(',')))
p = it.permutations(a, 3)
x = list(set(p))               
l = []
for i in x:                          
    p = ''.join(i)                   
    l.append(int(p))
l.sort()
print(str(l[-1])+','+str(len(l)))

1,2,1
211,3

##Q-5(infy TQ): For a given positive number num,identify the palindrome formed by performing the following operations
*Add num and its reverse 
*Check whether the sum is palindrome or not.If not,add the sum and its reverse and repeat the process until a palindrome is obtained. #### Input format :  
*Read num from the standard input stream #### Output format:  
*print the palindrome calculated to the standard output stream

In [7]:
#SOLUTION-5:
## CODE-1:
def rev_number(n):
  s = 0
  while True:
    k = str(n)
    if k == k[::-1]:
      break
    else:
      m = int(k[::-1])
      n += m
      s += 1
  return n 

print(rev_number(124))
print(rev_number(195))

545
9339

In [8]:
#SOLUTION-5:
## CODE-2:
n=int(input())
while(True):
    n=str(n)
    if(n ==n[::-1]):
        print(n)
        break
    else:
        n=int(n)+int(n[::-1])

195
9339

##Q-6: https://www.codechef.com/problems/SLAEL

##Find the length of the longest contiguous segment in an array, in which if a given element K is inserted, K becomes the second largest element of that subarray.

In [9]:
## solution-6:
t=int(input())
while(t>0):
    n,k=map(int,input().split())
    a=list(map(int,input().split()))
    gre=0
    l=0
    pos=-1
    long=0
    for i in range(n):
        if a[i]>k and gre!=0 and a[i]!=gre:
            gre = a[i]
            if long<l:
                long=l
            l = i - pos
            pos=i
            continue
        elif a[i]>k:
            gre = a[i]
            pos=i
        l+=1
    if long<l:
        long=l
    t-=1
    print("output:\n",long,"\n")

2
5 3
2 4 2 4 2
output:
 5

8 5
9 3 5 7 8 11 17 2
output:
 3

##Q-7: For digits:
1.find the reverse of the number and add it to the original number  
2.if that sum is not palindrome,again add its reverse to that sum  
3.Find the palindrome numbers for each number in the string by repeating the above step  
4.Find the maximum palindrome number among all and its original number And return the alphabetic code of that palindrome number as output

In [10]:
#SOLUTION-7:
s = input()
list1 = s.split(",")
list2 = [i.split(":")[1] for i in list1]
list3 = []
for num in list2:
    n = int(num)
    rev = num[::-1]
    while str(n) != rev:
        n += int(rev)
        rev = str(n)[::-1]
    list3.append(n)
list1[list3.index(max(list3))].split(":")[0]

xyz:750,abc:265,qwerty:195

'abc'

##Q-8: The groups_per_user function receives a dictionary.which contains group names with the list of users.Users can belong to multiple groups.Return a dictionary with the users as keys and a list of their groups as values.

In [11]:
##solution-8:
def groups_per_user(group_dictionary):
    user_groups = {}
    groups = []
    # Go through group_dictionary
    for group,users in group_dictionary.items():
        # Now go through the users in the group
        for user in users:
        # Now add the group to the the list of
          # groups for this user, creating the entry
          # in the dictionary if necessary
          groups.append(group)
          user_groups[user] = group

    return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
        "public":  ["admin", "userB"],
        "administrator": ["admin"] }))

{'admin': 'administrator', 'userA': 'local', 'userB': 'public'}

##Q-9: Input : london 40000 12,chicago 60000 20,munich 50000 15,paris 70000 5
Output : paris munich

In [12]:
#SOLUTION-9:
s=input()
s1=s.split(',')
print(s1)
a={}
b={}
al=[]
bl=[]
for i in s1:
    a1=list(i.split())
    a[a1[0]]=int(a1[1])
    b[a1[0]]=int(a1[2])
a1 = sorted(a.items(), key=lambda x: x[1],reverse=True)
b1 = sorted(b.items(), key=lambda x: x[1])
for i in a1:
    al.append(i[0])
for i in b1:
    bl.append(i[0])
for i in range(0,len(a1)):
    if(al[i]==bl[i]):
        print(al[i],end=" ")

london 40000 12,chicago 60000 20,munich 50000 15,paris 70000 5
['london 40000 12', 'chicago 60000 20', 'munich 50000 15', 'paris 70000 5']
paris munich

##Q-10: Jug Filling Problem
Problem statement: “Given two empty jugs with 3 and 5 liter capacities and a full jug with 8 liters, find a sequence of pours leaving four liters in the two largest jugs.”

In [15]:
#SOLUTION-10:
# 3 water jugs capacity -> (x,y,z) where x>y>z
# initial state (12,0,0)
# final state (6,6,0)

capacity = (8,5,3)
# Maximum capacities of 3 jugs -> x,y,z
x = capacity[0]
y = capacity[1]
z = capacity[2]

# to mark visited states
memory = {}

# store solution path
ans = []

def get_all_states(state):
  # Let the 3 jugs be called a,b,c
  a = state[0]
  b = state[1]
  c = state[2]

  if(a==4 and b==4):
      ans.append(state)
      return True

  # if current state is already visited earlier
  if((a,b,c) in memory):
      return False

  memory[(a,b,c)] = 1

  #empty jug a
  if(a>0):
      #empty a into b
      if(a+b<=y):
        if( get_all_states((0,a+b,c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a-(y-b), y, c)) ):
              ans.append(state)
              return True
      #empty a into c
      if(a+c<=z):
          if( get_all_states((0,b,a+c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a-(z-c), b, z)) ):
              ans.append(state)
              return True

  #empty jug b
  if(b>0):
      #empty b into a
      if(a+b<=x):
          if( get_all_states((a+b, 0, c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((x, b-(x-a), c)) ):
              ans.append(state)
              return True
      #empty b into c
      if(b+c<=z):
          if( get_all_states((a, 0, b+c)) ):
              ans.append(state)
              return True
      else: 
          if( get_all_states((x, b-(x-a), c)) ):
              ans.append(state)
              return True
      #empty b into c
      if(b+c<=z):
          if( get_all_states((a, 0, b+c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a, b-(z-c), z)) ):
              ans.append(state)
              return True

  #empty jug c
  if(c>0):
      #empty c into a
      if(a+c<=x):
          if( get_all_states((a+c, b, 0)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((x, b, c-(x-a))) ):
              ans.append(state)
              return True
      #empty c into b
      if(b+c<=y):
          if( get_all_states((a, b+c, 0)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a, y, c-(y-b))) ):
              ans.append(state)
              return True

  return False

initial_state = (8,0,0)
print("Starting work...\n")
get_all_states(initial_state)
ans.reverse()
for i in ans:
  print(i)

Starting work...

(8, 0, 0)
(3, 5, 0)
(0, 5, 3)
(5, 0, 3)
(5, 3, 0)
(2, 3, 3)
(2, 5, 1)
(7, 0, 1)
(7, 1, 0)
(4, 1, 3)
(4, 4, 0)

##Q-11: Input:
user_id = [1,1,2,3,3,4,4,4,5,5]  
ancestry=["England","Ireland","France","Germany","Poland","England","France","Germany","France","Germany"]  
If my required countries are France and Germany
required = ['France', 'Germany']

In [16]:
#SOLUTION-11:
user_id=[1,1,2,3,3,4,4,4,5,5]
user=list(set(user_id))
ancestry=["England","Ireland","France","Germany","Poland","England","France","Germany","France","Germany"]
r={}
for i in range(0,len(user_id)):
    if(user_id[i] not in r.keys()):
        r[user_id[i]]=[]
        r[user_id[i]].append(ancestry[i])
    else:
        r[user_id[i]].append(ancestry[i])
required = ['France', 'Germany']
for i in range(0,len(user)):
    if(set(required).issubset(set(r[user[i]]))):
        print(user[i])

4
5