##CSE - 221710313011 - D.Manasa

In [1]:
# factorial using recursion
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num=int(input("enter number"))
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

enter number5
The factorial of 5 is 120

In [2]:
# fibonocci series using recursion
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = int(input("enter no.of terms"))
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   pass
   for i in range(nterms):
       print(recur_fibo(i))

enter no.of terms5
0
1
1
2
3

In [3]:
#even numbers in a list
list1 = [10, 21, 4, 45, 66, 93] 
num = 0
while(num < len(list1)): 
    if num % 2 == 0: 
       print(list1[num], end = " ") 
    num += 1

10 4 66

In [4]:
# sum of elements in a list
total = 0
ele = 0
list1 = [11, 5, 17, 18, 23]  
while(ele < len(list1)): 
    total = total + list1[ele] 
    ele += 1
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [5]:
#palindrome
def reverse(str1):
    if(len(str1) == 0):
        return str1
    else:
        return reverse(str1[1 : ]) + str1[0]
    
string = input("Please enter your own String : ")
str1 = reverse(string)
if(string == str1):
   print("This is a Palindrome String")
else:
   print("This is Not a Palindrome String")

Please enter your own String : madam
This is a Palindrome String

In [6]:
#min element and index of a number in a list
list1=[12,45,67,2,68,87,14,100]
print("the minimum element is",min(list1))
print("the position is at",list1.index(min(list1)))

the minimum element is 2
the position is at 3

In [7]:
# printing all numbers except 3,6
for i in range(1,11):
  if i%5==0 or i%3==0:
    continue
  else:
    print(i)

1
2
4
7
8

In [9]:
# prime number
num = int(input("Enter a number: "))
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

Enter a number: 11
11 is a prime number

In [8]:
#even and odd count in list
ec=0
oc=0
ele=0
list1=[12,67,86,24,98,78,23,67,100,123,456,89]
while(ele<len(list1)):
  if list1[ele]%2==0:
    ec=ec+1
  else:
     oc=oc+1
  ele=ele+1
print("the count of even numbers in list is",ec)
print("the count of odd numbers in odd list is",oc)

the count of even numbers in list is 7
the count of odd numbers in odd list is 5

In [11]:
#adam number
def isAdam(num):
    n = num
    rev = 0
    while n != 0:
        rev = rev * 10 + n % 10
        n = n // 10
    sn = num ** 2
    sr = rev ** 2
    n = sr
    rev = 0
    while n != 0:
        rev = rev * 10 + n % 10
        n = n // 10
    return sn == rev

num = int(input("Enter the number: "))
if isAdam(num):
    print(str(num) + " is an Adam Number.")
else:
    print(str(num) + " is NOT an Adam Number.")

Enter the number: 23
23 is NOT an Adam Number.